<div id="CustomFooter" class="vcenter preformatted mb-1" data-ng-if="public.node.footer" data-markdown-to-html="public.node.footer | stripHtml"> Cloud Solutions by <a href="https://edge-intel.com/" target="_blank">Edge-Intel</a> </div>
<div id="AttributionClause" class="vcenter">Powered by <a href="https://www.globaleaks.org/" title="GlobaLeaks - Secure Whistleblowing Software" rel="noreferrer" target="_blank">GlobaLeaks</a></div>
<!--added this "Cloud Solutions by <a href="https://edge-intel.com/" target="_blank">Edge-Intel</a>" on the first line--> 
